@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body{
    background: #1D1D1D;
    font-family: 'Inter', sans-serif;
    font-family: 'Overpass', sans-serif;
}




.icon-header img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo-container a{
    margin-top: 2px;
    margin-left: 15px;
    color: white;
    font-size: 32px;
    font-weight: 800;
    text-decoration: none;
}
